//IMPORTS 
@import "./styles/main.scss";
@import "./styles/mixins/mixins.scss";
@import "./components/Nav/Nav.scss";
//PAGES 
@import "./pages/Home/Home.scss";
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  
  background: $backgroundColor;
  color: $primaryColor;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn{
  background: $greenColor;
  color: $primaryColor;
  padding: 1em 1.5em;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.container{
  @include flex;
  border: red solid 2px;
  border-radius: 20px;
  height: 300px;
  width: 400px;
}